.form-row
  margin-top: 30px

  .form-control
    border-radius: 0
    padding: 0 20px
    min-height: 62px

  textarea
    height: 226px
    padding: 20px 20px !important

    resize: vertical

.address-row
  margin-top: 100px
  i
    font-size: 42px
    color: $grey
  address
    i
      font-size: 16px
    a
      color: $grey
    a:hover
      color: $green
      text-decoration: none
      i
        color: $green


