#nav
  position: absolute
  width: 100%
  height: 103px
  z-index: 1000
  -webkit-transition: .3s ease-in-out
  -moz-transition: .3s ease-in-out
  -o-transition: .3s ease-in-out
  transition: .3s ease-in-out
  .container
    height: 100%
  .logo-image
    position: relative
    float: left
    top: 20px
    -webkit-transition: .3s ease-in-out
    -moz-transition: .3s ease-in-out
    -o-transition: .3s ease-in-out
    transition: .3s ease-in-out
    img
      height: 83px
      width: 230px
      -webkit-transition: .3s ease-in-out
      -moz-transition: .3s ease-in-out
      -o-transition: .3s ease-in-out
      transition: .3s ease-in-out

  .menu
    width: 100%
    margin: 0 auto
    max-width: 1170px
    top: 73px
    position: fixed
    -webkit-transition: .3s ease-in-out
    -moz-transition: .3s ease-in-out
    -o-transition: .3s ease-in-out
    transition: .3s ease-in-out
    .menu-toggle
      float: right
      position: relative
      span
        background-color: $green
        padding: 5px 15px
        border-radius: 8px
        color: #ffffff
      span:after
        content: ""
        display: block
        position: absolute
        top: 10px
        left: 75px
        border-right: 7px solid transparent
        border-bottom: 7px solid #6cb994
        border-left: 7px solid transparent
        transform: rotate(90deg)
      i
        margin-left: 10px
        color: #ffffff
        -webkit-transition: .3s ease-in-out
        -moz-transition: .3s ease-in-out
        -o-transition: .3s ease-in-out
        transition: .3s ease-in-out
    a:hover
      text-decoration: none

.collapse-nav
  height: 80px !important
  background-color: #ffffff
  border-bottom: 1px solid #eeeeee
  .logo-image
    top: 10px !important
    img
      height: 60px !important
      width: 165.88px !important

  .menu
    top: 28px !important
    a
      i
        color: $grey !important

#main-menu
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: #ffffff
  z-index: 1000
  .close-menu
    top: 50px
    right: 50px
    position: absolute
    i
      color: #ffffff

  .menu-effect
    text-align: center
    display: block
    word-wrap: break-word
    max-width: 185px
    margin: 0 auto
    .text
      text-transform: uppercase
      line-height: 90px
      font-size: 110px


  #menu-wrapper
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(108, 185, 148, 0.7)
  .menu-ul-wrap
    float: right
    position: relative
    left: -50%
    text-align: left
    ul
      position: relative
      left: 50%
      list-style-type: none
      li
        float: left
        margin-left: 34px
        padding-bottom: 10px
        a
          color: #ffffff
          text-transform: uppercase
          font-weight: 600
          font-size: 24px
        a:hover
          text-decoration: none
      li.current_page_item
        border-bottom: 2px solid #fff
      li.current_page_item:hover
        border-bottom: 2px solid #d43f3a
      li:hover
        border-bottom: 2px solid #d43f3a
.menu-open
  display: block !important



